.box
  background-color: #212529 !important
  border: none !important

  .btn-warning
    background-color: #e4ab01
    border-color: #e4ab01


  .lesson-time
    text-align: right

  .lesson-btn
    margin-left: 20px
    width: calc(100% - 20px)
    text-align: left

    .lesson-number
      text-align: right

    .lesson-name
      text-align: left