body
    background-color: #343a40

*
    // border: 1px solid cyan

hr
    width: 90%
    margin: 0 auto
    margin-top: 2rem
    margin-bottom: 2rem
    border: 0
    border-top: 3px solid #ffffffc7
    opacity: 100%
